{% extends 'master01.html' %}

{% block pagename %} Homepage {% endblock %}

{% block contents %} 
<span class="homewelcome">Welcome to DelverLensWeb</span><br/>
By AlanFromJapan / MIT license / Full source code here <a href="https://github.com/AlanFromJapan/DelverLensWeb">on Github</a>.<br/>
This application is not approved nor affiliated with DelverLens, Magic The Gathering, Hasbro, or Nintendo or anyone.<br/>
Don't sue me, go play MtG instead.<br/>
This app couldn't exist without <b><a href="https://scryfall.com/">Scryfall</a> ❤️</b>!
<br/>
<img src="{{logo}}" />

<table class="gameslist">
    <tr>
{% for c in imgs %}
    {% autoescape false %}
    <table style="border: solid 2px red;">
        <tr><td>{{ c.name }}</td></tr>
        <tr><td><img src="{{ c.image }}" /></td></tr>
    </table>
    
    {% endautoescape %}  
{% endfor %}
    </tr>
</table>
{{ dbg }}
{% endblock %}
